// override style for primaruy govuk button without affecting
// the styles for a secondary button

.govuk-button:not(.govuk-button--secondary) {
  background-color: repairs-hub-colour('housing-2');
  &:hover {
    background-color: #10767c;
  }
  &:focus,
  &:focus:not(:active):not(:hover) {
    opacity: 0.9;
    background-color: repairs-hub-colour('housing-2');
    border-color: repairs-hub-colour('housing-2');
  }
  &:focus,
  &:hover {
    box-shadow: none;
  }
}
