.hackney-property-alerts {
  width: 50%;
  color: white;
  padding: 0;

  li {
    margin-bottom: 5px;
    padding: 4px 8px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  li.bg-orange {
    background: repairs-hub-colour('warning');
  }

  li.bg-turquoise {
    background: repairs-hub-colour('housing-2');
  }
}
