.warning-info-box {
  @include govuk-responsive-margin(2, 'top');

  @include govuk-responsive-padding(2, 'left');
  @include govuk-responsive-padding(1, 'top');
  @include govuk-responsive-padding(1, 'bottom');

  border-left-color: repairs-hub-colour('blue');
  border-left-width: 6px;
  background-color: repairs-hub-colour('lightest-blue');

  .govuk-warning-text__icon {
    font-size: 1.2em;
    min-width: 28px;
    min-height: 28px;
    margin-top: -3px;
    border: none;
  }

  .govuk-warning-text__text {
    padding-left: 38px;
  }

  &.variant-error {
    border-color: #dc2626;
    background-color: #fee2e2;

    p {
      // color: #422006;
      color: #991b1b;
    }

    span {
      background: #dc2626;
      color: #fee2e2;
    }
  }

  &.variant-warning {
    border-color: #eab308;
    background-color: #fef9c3;

    p {
      color: #422006;
    }

    span {
      background: #eab308;
      color: #fef9c3;
    }
  }
}
