.work-order-hours {
  padding-top: 0.5rem;
  color: repairs-hub-colour('grey');
}

.hackney-work-order-table {
  tbody {
    vertical-align: top;
  }
  p.description {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}

.repairs-history-table {
  tbody {
    vertical-align: top;
  }

  td {
    white-space: nowrap;
    &.description {
      white-space: normal;
      max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .status {
      color: govuk-colour('white');
      padding: 4px 10px;
      font-weight: bold;
      display: inline-block;
      width: 90%;
      max-width: 150px;
      text-align: center;
    }
    .status-in-progress {
      background-color: repairs-hub-colour('status-planned');
    }
    .status-work-complete {
      background-color: repairs-hub-colour('status-complete');
    }
    .status-work-cancelled {
      background-color: repairs-hub-colour('status-not-complete');
    }
    .status-pending-approval {
      background-color: repairs-hub-colour('status-waiting');
    }
    .status-variation-pending-approval {
      background-color: repairs-hub-colour('status-waiting');
      white-space: normal;
    }
    .status-authorisation-pending-approval {
      background-color: repairs-hub-colour('status-waiting');
      white-space: normal;
    }
    .status-variation-approved {
      background-color: repairs-hub-colour('status-approved');
    }
    .status-variation-rejected {
      background-color: repairs-hub-colour('status-rejected');
    }
  }
}
