.work-order-hours {
  padding-top: 0.5rem;
  color: repairs-hub-colour('grey');
}

.hackney-work-order-table {
  tbody {
    vertical-align: top;
  }
  p.description {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}
