  @media (max-width: 640px) {
    .hackney-tabs-list-mobile {
        display: flex;
        justify-content: flex-start;
        gap: 2px;
        margin: 0;
        }
        .govuk-tabs__list-item-mobile {
          display: block;
          list-style: none;
          background-color: repairs-hub-colour('light-grey');
          text-align: center;
          margin: 0;
          height: 4rem;
          width: 7rem;
          padding: 1rem; 
          font-size: 20px;
          line-height: 1.4;
          cursor: pointer;
          text-decoration: underline;
          &[aria-selected='true'] {
            background-color: repairs-hub-colour('dark-green') !important;
            color: repairs-hub-colour('white') !important;
            text-decoration: none;
            transform: scale(1.05);
          }
        }
        .govuk-tabs_list-item-mobile-a-tag {
          .govuk-tabs__list-item-mobile-a-tag--selected {
            background-color: repairs-hub-colour('dark-green') !important;
            color: repairs-hub-colour('black') !important;
          }
        }
  }