service: repairs-hub-frontend

provider:
  name: aws
  runtime: nodejs20.x
  timeout: 29
  region: eu-west-2
  stage: ${opt:stage}
  lambdaHashingVersion: 20201221
  apiGateway:
    shouldStartNameWithService: true
    binaryMediaTypes:
      - image/jpg
      - multipart/form-data
  tracing:
    lambda: Active
    apiGateway: true
  logs:
    restApi: true
  
functions:
  repairs-hub-frontend:
    name: ${self:service}-${self:provider.stage}
    handler: src/lambda.handler
    package:
      individually: true
      patterns:
        - 'build/_next/standalone/**'
        - '!build/_next/standalone/.next/cache/**'    
        - 'build/_next/static/**'
        - src/lambda.js
        - next.config.js
        - public/**
        - '!node_modules/**'
        - 'lambda/node_modules/**'

    events:
      - http: ANY /
      - http: ANY /{proxy+}
    vpc:
      securityGroupIds: ${self:custom.securityGroups.${self:provider.stage}}
      subnetIds: ${self:custom.subnets.${self:provider.stage}}
    environment:
      NODE_PATH: '/var/task/lambda/node_modules'
      S3_BUCKET_NAME: repairs-api-images-${self:provider.stage}
      AGENTS_GOOGLE_GROUPNAME_REGEX: ${ssm:/repairs-hub/${self:provider.stage}/agents-group-regex}
      AUTHORISATION_MANAGERS_GOOGLE_GROUPNAME: ${ssm:/repairs-hub/${self:provider.stage}/authorisation-managers-group}
      BUDGET_CODE_OFFICER_GOOGLE_GROUPNAME: ${ssm:/repairs-hub/${self:provider.stage}/budget-code-officer-group}
      DATA_ADMIN_GOOGLE_GROUPNAME: ${ssm:/repairs-hub/${self:provider.stage}/data-admin-group}
      CONTRACT_ADMIN_GOOGLE_GROUPNAME: ${ssm:/repairs-hub/${self:provider.stage}/contract-admin-group}
      FOLLOWON_ADMIN_GOOGLE_GROUPNAME: ${ssm:/repairs-hub/${self:provider.stage}/followon-admin-group}
      DLO_CONTRACTOR_GOOGLE_GROUPNAME: repairs-hub-contractors-dlo
      CONFIGURATION_API_URL: ${ssm:/repairs-hub/${self:provider.stage}/configuration-api-url}
      CONTACT_DETAILS_API_URL: ${ssm:/repairs-hub/${self:provider.stage}/contact-details-api-url}
      CONTRACT_MANAGERS_GOOGLE_GROUPNAME: ${ssm:/repairs-hub/${self:provider.stage}/contract-managers-group}
      CONTRACTORS_GOOGLE_GROUPNAME_REGEX: ${ssm:/repairs-hub/${self:provider.stage}/contractors-group-regex}
      DRS_WEB_SERVICES_PASSWORD: ${ssm:/repairs-hub/${self:provider.stage}/drs-password}
      DRS_WEB_SERVICES_URL: ${ssm:/repairs-hub/${self:provider.stage}/drs-url}
      DRS_WEB_SERVICES_USERNAME: ${ssm:/repairs-hub/${self:provider.stage}/drs-login}
      GSSO_TOKEN_NAME: ${ssm:/repairs-hub/${self:provider.stage}/gsso-token-name}
      GSSO_URL: ${ssm:/repairs-hub/${self:provider.stage}/gsso-url}
      HACKNEY_JWT_SECRET: ${ssm:/repairs-hub/${self:provider.stage}/hackney-jwt-secret}
      NODE_ENV: production
      OPERATIVES_GOOGLE_GROUPNAME: ${ssm:/repairs-hub/${self:provider.stage}/operatives-group}
      REDIRECT_URL: ${ssm:/repairs-hub/${self:provider.stage}/redirect-url}
      REPAIRS_SERVICE_API_KEY: ${ssm:/repairs-hub/${self:provider.stage}/repairs-service-api-key}
      REPAIRS_SERVICE_API_URL: ${ssm:/repairs-hub/${self:provider.stage}/repairs-service-api-url}
      SENTRY_DSN: ${ssm:/repairs-hub/${self:provider.stage}/sentry-dsn}
      SENTRY_ENVIRONMENT: ${self:provider.stage}
      SENTRY_RELEASE: ${env:CIRCLE_SHA1}
      FOLLOW_ON_IS_EMERGENCY_FIELD_ENABLED: ${self:custom.follow-on-is-emergency-field-enabled.${self:provider.stage}}
      TAG_MANAGER_ID: ${self:custom.tag-manager-id.${self:provider.stage}}

resources:
  Resources:
    CloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Aliases:
            - ${self:custom.aliases.${self:provider.stage}}
          PriceClass: PriceClass_100
          ViewerCertificate:
            AcmCertificateArn: ${self:custom.certificate-arn.${self:provider.stage}}
            MinimumProtocolVersion: TLSv1.2_2018
            SslSupportMethod: sni-only
          DefaultCacheBehavior:
            TargetOriginId: ${self:service}-${self:provider.stage}-custom-origin
            ViewerProtocolPolicy: 'redirect-to-https'
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
              - PUT
              - PATCH
              - POST
              - DELETE
            DefaultTTL: 0
            MaxTTL: 0
            MinTTL: 0
            ForwardedValues:
              QueryString: true
              Cookies:
                Forward: all
          Enabled: true
          Origins:
            - Id: ${self:service}-${self:provider.stage}-custom-origin
              DomainName: ${self:custom.domain-name}
              OriginPath: /${self:provider.stage}
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only
    staticImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: repairs-hub-${opt:stage}-static-images
        Tags:
          - Key: Confidentiality
            Value: Public

custom:
  domain-name:
    Fn::Join:
      - '.'
      - - Ref: ApiGatewayRestApi
        - execute-api
        - eu-west-2
        - amazonaws.com
  aliases:
    development: repairs-hub-development.hackney.gov.uk
    staging: repairs-hub-staging.hackney.gov.uk
    production: repairs-hub.hackney.gov.uk
  certificate-arn:
    development: arn:aws:acm:us-east-1:364864573329:certificate/fc2125d7-c8b7-4837-8f68-ffa62c1dec54
    staging: arn:aws:acm:us-east-1:715003523189:certificate/11327e5e-53d3-4b21-a613-f12ee0bed68d
    production: arn:aws:acm:us-east-1:282997303675:certificate/852490a1-103e-41a9-bb86-79ecd88f2304
  securityGroups:
    development:
      - sg-08e28776da7918e4b
    staging:
      - sg-0166cbf56b7e77af0
    production:
      - sg-0c40b8cfd2d03c359
  subnets:
    development:
      - subnet-0140d06fb84fdb547
      - subnet-05ce390ba88c42bfd
    staging:
      - subnet-06d3de1bd9181b0d7
      - subnet-0ed7d7713d1127656
    production:
      - subnet-0beb266003a56ca82
      - subnet-06a697d86a9b6ed01
  tag-manager-id:
    development: ""
    staging: ""
    production: GTM-MLCLBXH2
  follow-on-is-emergency-field-enabled:
    development: true
    staging: true
    production: true
