.appointment-info-box {
  border-top: 8px solid repairs-hub-colour('dark-green');
  border-bottom: 2px solid repairs-hub-colour('dark-green');
  border-right: 2px solid repairs-hub-colour('dark-green');
  border-left: 2px solid repairs-hub-colour('dark-green');
  position: relative;
  padding: 15px;
  overflow-y: auto;
  min-height: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  .status-text {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
