$repairs-hub-colours: (
  'housing-1': #005f61,
  'housing-2': #009ca6,
  'housing-3': #2dccd3,
  'warning': #ffa300,
  'danger': lbh-colour('lbh-f02'),
  'white': lbh-colour('lbh-white'),
  'black': lbh-colour('lbh-black'),
  'dark-grey': lbh-colour('lbh-grey-1'),
  'grey': lbh-colour('lbh-grey-2'),
  'light-grey': lbh-colour('lbh-grey-3'),
  'yellow': lbh-colour('lbh-h04'),
  'dark-green': lbh-colour('lbh-a01'),
  'blue': lbh-colour('lbh-link'),
  'calendar-current': #6895c6,
  'calendar-selected': #b2cce2,
  'calendar-border': #e2e4e6,
  'calendar-divider': #c7c8ca,
  'calendar-month': #7d8287,
);

@function repairs-hub-colour($colour) {
  @return map-get($repairs-hub-colours, quote($colour));
}

.focus-colour:focus {
  outline: 3px solid repairs-hub-colour('housing-3') !important;
}

.text-green {
  color: repairs-hub-colour('dark-green');
}

.text-white {
  color: repairs-hub-colour('white');
}

.text-black {
  color: repairs-hub-colour('black');
}

.text-warning {
  color: repairs-hub-colour('warning');
}

.text-danger {
  color: repairs-hub-colour('danger');
}

.text-\!-green {
  color: repairs-hub-colour('housing-2') !important;
}

.text-\!-white {
  color: repairs-hub-colour('white') !important;
}

.background-yellow {
  background: repairs-hub-colour('yellow');
}

.background-dark-green {
  background: repairs-hub-colour('dark-green');
}
