.display-flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  }
  &.position-relative {
    position: relative;
  }
}
.position-absolute {
  position: absolute;
  &.right-negative-3 {
    right: -3%;
  }
}
.display-inline {
  display: inline;
}

.min-height-100 {
  min-height: 100px;
}
.min-height-120 {
  min-height: 120px;
}
