.display-flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  }
  &.position-relative {
    position: relative;
  }
}
.position-absolute {
  position: absolute;
  &.right-negative-3 {
    right: -3%;
  }
}
.display-inline {
  display: inline;
}
