.appointment-info {
  // background: repairs-hub-colour('dark-green');
  // border-radius: 5px;
  position: relative;
  margin-left: -15px;
  margin-right: -5px;
  margin-top: -40px;
  min-height: 0;
  text-align: left;
  h3 {
    color: white;
  }
}
