.env {
  &-name {
    border: 2px solid;
    padding: 5px;
    margin-left: 10px;
  }

  &-development {
    border-color: repairs-hub-colour('dark-green');
  }

  &-staging {
    border-color: repairs-hub-colour('orange');
  }

  &-localdev {
    border-color: repairs-hub-colour('orange');
  }
}

.text-for-env-note {
  background-color: red;
}
