.lbh-heading-h1 {
  @include govuk-media-query($until: tablet) {
    font-size: 24px;
  }
}

.lbh-heading-h3 {
  @include govuk-media-query($until: tablet) {
    font-size: 24px;
  }
}

.uppercase {
  text-transform: uppercase;
}
